.contact-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 600px;
  height: 500px;

  border-radius: 15px;

  padding: 15px;
  margin-top: 55px;

  color: black;
  background: white;
}
.info__backlink {
  position: absolute;
  left: -5px;
  top: -40px;

  width: 40px;
}
.info__backlink:hover svg {
  fill: teal;
}
.info__backlink svg {
  width: 40px;
  height: 40px;
  fill: white;
}
.info {
  display: contents;
}
.info img {
  max-width: 200px;
  border-radius: 50%;
  margin-bottom: 25px;
}
.info svg {
  width: 20px;
}
.name {
  margin-bottom: 25px;
}
.job {
  font-size: 20px;
}
.phone {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-left: 10px;
}

.contact-info .divider {
  border-bottom-width: 3px;
  margin-bottom: 35px;
}

.actions {
  display: flex;
  gap: 80px;

  margin-bottom: 25px;
}
.actions button {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 80px;

}
.actions button svg {
  fill: blue;
  margin-bottom: 15px;
}
.actions__call {
  width: 20px;
  height: 20px;
}
.info .actions__text,
.info .actions__video {
  width: 25px;
  height: 25px;
}
