.contact-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 600px;

  border-radius: 15px;

  padding: 15px;
  margin-top: 55px;

  color: black;
  background: white;
}
.info__backlink {
  position: absolute;
  left: 15px;
  width: 40px;
}
.info__backlink:hover svg {
  fill: teal;
}
.info__backlink svg {
  width: 40px;
  height: 40px;
  fill: white;
}
.info {
  display: contents;

  img {
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 25px;
  }
}
.name {
  margin-bottom: 10px;
}

.about {
  width: 100%;
  margin-bottom: 25px;
  font-size: 20px;

  svg {
    width: 25px;
  }
}
.about ul li {
  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 500;
  span {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;
  }
}
.job-icon {
  height: 25px;
}
.phone-icon {
  height: 22px;
}
.country-icon {
  height: 25px;
}
.city-icon {
  width: 30px !important;
  height: 30px;
}

.contact-info .divider {
  border-bottom-width: 3px;
  margin-bottom: 35px;
}

.actions {
  display: flex;
  gap: 80px;

  margin-bottom: 25px;

  button {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
  }

  button svg {
    fill: blue;
    margin-bottom: 15px;
  }
}

.actions .actions__call {
  width: 20px;
  height: 20px;
}
.info .actions__text,
.info .actions__video {
  width: 25px;
  height: 25px;
}
