.Contacts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  margin: 0 auto;

  max-width: 1000px;
}
.Contacts-list li {
  max-width: 450px;
  min-width: 400px;
}
.Contact-avatar {
  margin: auto 5px auto 10px;
}

.divider {
  /* margin-top: 50px; */
  border-width: 0px 0px 0px 25px;
  /* border-image: initial; */
  border-color: inherit;
}

.divider-vertical {
  border-width: 0px 0px 0px 5px;
  height: 210px;
}
