.Contacts-list {
  display: flex;
  flex-wrap: wrap;

  width: 690px;
  gap: 40px;
}

/* #e9b352; */
.Contacts-list li {
  display: flex;
  flex-direction: column;
  text-align: start;

  cursor: pointer;

  transition: transform 350ms ease;
}

.Contacts-list li:hover {
  transform: scale(1.1);
  background: rgb(219, 205, 205);
  border-color: rgb(31, 140, 177);
}
.Contacts__delete-button {
  height: 25px;
  background-color: darkgray;
  cursor: pointer;

  transition: all 350ms ease;
}
.Contacts__delete-button:hover {
  background: rgb(219, 205, 205);
  border-color: rgb(31, 140, 177);
  transform: scale(1.1);
}
.contacts-item {
  margin-right: 15px;
}

.Contacts-list p {
  margin-left: 10px;
}

.contacts__name {
  display: flex;
  align-content: center;
  align-items: center;

  width: 200px;
  height: 25px;

  border: 1px solid black;
  background-color: orange;
  margin-bottom: 0;
}

.contacts__number {
  display: flex;
  align-content: center;
  align-items: center;
  height: 25px;
  border: 1px solid black;
  background-color: darkgray;
}

.contacts__name,
.contacts__number {
  transition: all 350ms ease;
}

.contacts__name:hover,
.contacts__number:hover {
  transform: scale(1.1);
  background: rgb(219, 205, 205);
  border-color: rgb(31, 140, 177);
}
