.Homepage-content {
  display: flex;
  justify-content: center;
}
.Homepage__hero a {
  transition: 550ms opacity ease-in;
}
.Homepage-content div {
  width: 453px;
  height: 318px;
}

.Homepage__hero {
  background-image: url(../../images/bg-image.jpg);
  background-size: cover;
  min-height: 100vh;
}

.title-section {
  font-family: fantasy;
  font-size: 80px;

  color: white;
}

.Homepage-title {
  font-family: 'Roboto mono';
  font-size: 64px;

  margin-bottom: 150px;
}
.chakra-button {
  font-family: 'Roboto Mono' !important;
}
.Homepage__hero .logged {
  padding: 0 40px;
}
